<div class="row carousel-holder">
    <div class="col-md-12">
        <div class="carousel slide" id="mycarousel" data-bs-ride="carousel">
            <div class="carousel-indicators">
                <button data-bs-target="#mycarousel" data-bs-slide-to="0" class="active"></button>
                <button data-bs-target="#mycarousel" data-bs-slide-to="1"></button>
                <button data-bs-target="#mycarousel" data-bs-slide-to="2"></button>
                <button data-bs-target="#mycarousel" data-bs-slide-to="3"></button>
                <button data-bs-target="#mycarousel" data-bs-slide-to="4"></button>
                <button data-bs-target="#mycarousel" data-bs-slide-to="5"></button>
                <button data-bs-target="#mycarousel" data-bs-slide-to="6"></button>
                <button data-bs-target="#mycarousel" data-bs-slide-to="7"></button>
                <button data-bs-target="#mycarousel" data-bs-slide-to="8"></button>
            </div>
            <div class="carousel-inner">
                <div class="carousel-item active"><div class="frame"><img src="./images/1.jpeg" alt="¯\_(ツ)_/¯" /></div></div>
                <div class="carousel-item">
                    <div class="frame"><img src="./images/2.jpg" alt="¯\_(ツ)_/¯" /></div>
                </div>
                    <div class="carousel-item">
                    <div class="frame"><img src="./images/3.jpg" alt="¯\_(ツ)_/¯" /></div>
                </div>
                        <div class="carousel-item">
                    <div class="frame"><img src="./images/4.jpg" alt="¯\_(ツ)_/¯" /></div>
                </div>
                            <div class="carousel-item">
                    <div class="frame"><img src="./images/5.jpg" alt="¯\_(ツ)_/¯" /></div>
                </div>
                                <div class="carousel-item">
                    <div class="frame"><img src="./images/6.jpg" alt="¯\_(ツ)_/¯" /></div>
                </div>
                                    <div class="carousel-item">
                    <div class="frame"><img src="./images/7.jpg" alt="¯\_(ツ)_/¯" /></div>
                </div>
                                        <div class="carousel-item">
                    <div class="frame"><img src="./images/8.jpg" alt="¯\_(ツ)_/¯" /></div>
                </div>
                                            <div class="carousel-item">
                    <div class="frame"><img src="./images/9.jpg" alt="¯\_(ツ)_/¯" /></div>
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#mycarousel" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#mycarousel" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>
</div>
