<div class="row carousel-holder">
    <div class="col-md-12">
        <div class="carousel slide" id="mycarousel" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#mycarousel" data-slide-to="0" class="active"></li>
                <li data-target="#mycarousel" data-slide-to="1"></li>
                <li data-target="#mycarousel" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner">
                <div class="carousel-item active"><img src="./images/1.jpeg" alt="¯\_(ツ)_/¯" /></div>
                <div class="carousel-item"><img src="./images/2.jpg" alt="¯\_(ツ)_/¯" /></div>
                <div class="carousel-item"><img src="./images/3.jpg" alt="¯\_(ツ)_/¯" /></div>
                <div class="carousel-item"><img src="./images/4.jpg" alt="¯\_(ツ)_/¯" /></div>
                <div class="carousel-item"><img src="./images/5.jpg" alt="¯\_(ツ)_/¯" /></div>
                <div class="carousel-item"><img src="./images/6.jpg" alt="¯\_(ツ)_/¯" /></div>
                <div class="carousel-item"><img src="./images/7.jpg" alt="¯\_(ツ)_/¯" /></div>
                <div class="carousel-item"><img src="./images/8.jpg" alt="¯\_(ツ)_/¯" /></div>
                <div class="carousel-item"><img src="./images/9.jpg" alt="¯\_(ツ)_/¯" /></div>
            </div>
            <a class="float-start carousel-control" href="#mycarousel" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left"></span>
            </a>
            <a class="float-end carousel-control" href="#mycarousel" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right"></span>
            </a>
        </div>
    </div>
</div>
